.tvbwf { 
  font-size: 3px;
  margin-left: 10px;
  border-left-width: 9px;
  border-left-width: 97px;
  border-left-width: 54px;
  padding-right: 59px;
  font-size: 32px;
  padding-top: 7px;
  padding-right: 63px;
  padding-top: 22px;
}
