.tvbwf { 
  font-size: 3px;
  margin-left: 10px;
  border-left-width: 9px;
  border-left-width: 97px;
  border-left-width: 54px;
  padding-right: 59px;
  font-size: 32px;
  padding-top: 7px;
  padding-right: 63px;
  border-right-width: 32px;
  margin-left: 1px;
  padding-right: 92px;
  border-left-width: 5px;
  font-size: 33px;
  border-left-width: 60px;
  border-right-width: 46px;
  border-left-width: 25px;
  border-top-width: 29px;
  margin-top: 40px;
  border-top-width: 46px;
  border-top-width: 99px;
}
